* {
    font-family: 'Architects Daughter', cursive;
}

h1,
main,
section {
    text-align: center;
}

button {
    margin: 5px;
    height: 50px;
    width: 100px;
    border: gray;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    border: 1px solid black;
}